*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: barlow,sans-serif;


}

/* nav bar started */
.navbar{
    width:100vw;
    height:10vh;
    
    display: flex;
    flex-direction: row;
    background:#000000;
    color:white;
}

.navlist{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    column-gap: 3%;
    
  
}



.navitem  >a{
    text-decoration: none;
}

.navtog{
    display: none;

}
.navimg{
    width:120px;
    height:60px;
    padding:1%;
}

.navicon{
    width:20px;
}
hr{
    width:100%;
}




@media only screen and (max-width: 600px){

    .navbar{
        display: block;
        flex-direction: column;
        height:auto;
    }
    .logotitle{
        display: none;
    }

    .navlist{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        padding: 1%;
    }
   
    .navlist > .navimg{
        display: none;
    }
    .navlist > .navitem{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height:5vh;
        margin:0;
        text-align: center;
 
    }
    .navlist > li:hover{
        background: #474545;
    }
    a:visited { 
        text-decoration: none; 
        color:rgb(17, 65, 221); 
       }

    .navtog{
        width:90%;
        height:auto;
        display: flex;
        flex-direction: row;
        padding:1%;
        column-gap: 30%;
     
        
    }

    .shownav{
        display: block;
      
    }
    .navicon{
        padding:5%;
    }
  
    .navicon> i{
        font-size:30px;

    }
}


/* nav bar end */

.event_main{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:100vw;
    height:auto;
    background:transparent;
    color:black;
    justify-content: center;
    padding:2.5em;
    align-items: center;

    
  
}

.event_card{
    width:80%;
    height:60vh;
    background:rgb(0, 0, 0);
    color:white;
    margin-top:2px;
 
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.event_card > .event_img{
    width:30%;
    height:100%;
}
.event_img > img{
    width:100%;
    height:100%;
}

.event_content{
    width:70%;
    height:100%;
    display: flex;
    flex-direction: column;
}

.content_inner{
    width:100%;
    height:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5%;
    padding:10%;
    text-align: center;
}
.content_inner > p{
    width:100%;
}
.content_act{
    width:100%;
    height:20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 40%;
    row-gap: 10px;

}

.content_act > button{
    border:2px solid springgreen;
    width:auto;
    padding:1.5%;
    color:rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;
    background-color:#02ff41;
    height:3em;
}

.timer{
    width:auto;
    border:solid 2px springgreen;
    padding:2%;
}



.reg_form{
    display: none;
    width:100vw;
    height:100vh;
    background:palegoldenrod;
    background-color: rgba(196, 37, 37, 0.288);
    text-align: center;
    color:black;
    z-index:999;
    position: absolute;
    
    
}

.reg_inner{
    width:40%;
    height:80%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.76);
    margin: 0 auto;
}
.reg_inner > form{
    width:100%;
    height:100%;
    background-color: rgb(8, 2, 31);
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    padding:5%;
}

.show_form{
    display: block;
}


.close > i{
    width:50px;
    height:50px;
    border-radius: 50%;
    background: #000000;
    color: white;
    font-size: 30px;
    padding:2%;
    font-style: bold;
}

/*responsive*/


@media only screen and (max-width: 600px){
    .event_main{
        padding:1.8rem;
    }
    .event_card{
        width: 100%;
        flex-direction: column;
        height:auto;
    }
    .event_card > .event_img{
        width:100%;
        height:40%;
       
        
    }
    .event_img > img{
        width:100%;
        height:250px;
    }
    .content_inner{
        height:auto;
        padding:5%;
    }
    .content_act{
        flex-direction: column;
        column-gap: 0%;
        padding:2%;
    }
    .reg_inner{
        width:80%;
    }
}
