*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: barlow,sans-serif;

    color:white;
}




.navbar{
    width:100vw;
    height:10vh;
    
    display: flex;
    flex-direction: row;
    background:#000000;
    color:white;
}

.navlist{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    column-gap: 3%;
    
  
}



.navitem  >a{
    text-decoration: none;
}

.navtog{
    display: none;

}
.navimg{
    width:120px;
    height:60px;
    padding:1%;
}
a:visited { 
    text-decoration: none; 
    color:rgb(17, 65, 221); 
   }

.navicon{
    width:20px;
}

/*navend*/

.post_main{
    width:100vw;
    height:100%;
    display: flex;
    flex-direction: row;
    background: transparent;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    padding:5rem;
    overflow-x: hidden;

}

.post_inner{
    width:300px;
    height: 400px;
    background:rgba(0, 0, 255, 0.418);
    display: flex;
    flex-direction: column;
}

.post_inner > img{
    width:100%;
    height:80%;
    
}
.post_inner > h3{
    font-style: italic;
}




@media only screen and (max-width: 600px){

    .navbar{
        display: block;
        flex-direction: column;
        height:auto;
    }
    .logotitle{
        display: none;
    }

    .navlist{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        padding: 1%;
    }
   
    .navlist > .navimg{
        display: none;
    }
    .navlist > .navitem{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height:5vh;
        margin:0;
        text-align: center;
 
    }
    .navlist > li:hover{
        background: #474545;
    }

    .navtog{
        width:90%;
        height:auto;
        display: flex;
        flex-direction: row;
        padding:1%;
        column-gap: 30%;
     
        
    }

    .shownav{
        display: block;
      
    }
    .navicon{
        padding:5%;
    }
  
    .navicon> i{
        font-size:30px;

    }

    /*endnav-responsive */
    
}

@media only screen and (max-width: 600px){
    .post_main{
        padding:8%;
    }
    .post_inner{
        width:80vh;
    }

}




